include header

html
    head
        meta(property='og:title'       content='GROUPOЇD')
        meta(property='og:description' content='L\'Infini des Groupoïdes')
        meta(property='og:url'         content='https://groupoid.space/')

block title
    title GROUPOЇD

block content
    article.main
        .exe
            section
            p(style="font-size: 14px;").
                <a href="https://groupoid.space/institute/">L'Infini des Groupoïdes</a>
                achieves a landmark synthesis, unifying synthetic and classical mathematics
                in a mechanically verifiable framework <a href="https://axio.groupoid.space">AXIO/1</a>
                showcasing its ability to span algebraic, analytic, geometric, categorical,
                topological, and foundational domains in the set of languages:
                <a href="https://anders.groupoid.space/">Anders</a> (Cubical HoTT),
                <a href="https://dan.groupoid.space/">Dan</a> (Simplicial HoTT),
                <a href="https://jack.groupoid.space/">Jack</a> (K-Theory, Hopf Fibrations),
                <a href="https://urs.groupoid.space/">Urs</a> (Supergeometry),
                <a href="https://fabien.groupoid.space/">Fabien</a> (A¹ HoTT).
                Its type formers—spanning simplicial ∞-categories, stable spectra,
                cohesive modalities, reals, ZFC, large cardinals, and forcing.

        br
        <hr size=1>
        br
        .exe
            section
            +tex.
                The process of creating laboratory artifacts of $\mathbf{Groupoid\ Infinity}$:
            h1 MATHEMATICS
            p.
                First, we pick up one topic from known mathematical theories:
        .types
            -
                   var logic = {

                        'Category Theory': { 'Categories': '',
                                             'Functors, Adjunctions': '',
                                             'Natural Transformations': '',
                                             'Kan Extensions' : '',
                                             '(Co)limits': '',
                                             'Universal Properties' : '',
                                             'Monoidal Categories' : '',
                                             'Enriched Categories' : '',
                                             'Structure Identity Principle' : '' },

                           'Topos Theory': { 'Topology' : '',
                                             'Coverings' : '',
                                             'Grothendieck Topology' : '',
                                             'Grothendieck Topos' : '',
                                             'Geometric Morphisms': '',
                                             'Higher Topos Theory': '',
                                             'Cohesive Topos' : '',
                                             'Etale Topos': '',
                                             'Elementary Topos': '' },

                               'Geometry': { 'Nisnevich Site' : '',
                                             'Zariski Site' : '',
                                             'Theory of Schemes' : '',
                                             'Noetherian Scheme' : '',
                                             'A¹-Homotopy Theory' : '',
                                             'Differential Geometry': '',
                                             'Synthetic Geometry': '',
                                             'Local Homotopy Theory': '' }};

                     var foundations = {

                               'Analysis': { 'Real Analysis' : '',
                                             'Funtional Analysis' : '',
                                             'Hilbert Space' : '',
                                             'Lebesgue Integral' : '',
                                             'Bochner Integral' : '',
                                             'Fredholm Operators' : '',
                                             'Theory of Distributions' : '',
                                             'Measure Theory': '' },

                           'Foundations': {  'Proof Theory': '',
                                             'Set Theory': '',
                                             'Schönfinkel': '',
                                             'Łukasiewicz':'',
                                             'Frege': '',
                                             'Hilbert': '',
                                             'Church': '',
                                             'Tarski':'' },

                            'Type Theory': { 'Laurent Schwartz' : 'https://laurent.groupoid.space/',
                                             'Ernst Zermelo' : '',
                                             'Paul Cohen' : '',
                                             'Henk Barendregt': 'https://henk.groupoid.space/',
                                             'Per Martin-Löf': 'https://per.groupoid.space/',
                                             'Christine Paulin-Mohring': 'https://christine.groupoid.space/',
                                             'Anders Mörtberg': 'https://anders.groupoid.space/',
                                             'Dan Kan': 'https://dan.groupoid.space/',
                                             'Jack Morava': 'https://jack.groupoid.space/',
                                             'Urs Schreiber': 'https://urs.groupoid.space/',
                                             'Fabien Morel': 'https://fabien.groupoid.space/' }};

                    var algebra = {

                   'Algebraic Systems':    { 'Algebraic Structure' : '',
                                             'Group, Subgroup' : '',
                                             'Normal Group' : '',
                                             'Factorgroup' : '',
                                             'Abelian Group' : '',
                                             'Ring, Module' : '',
                                             'Simple Finite Groups' : '',
                                             'Field Theory' : '',
                                             'Linear Algebra' : '',
                                             'Universal Algebra' : '',
                                             'Lie, Leibniz Algebra' : '',
                                           },

                    '(Co)Homotopy Theory': { 'Pullback' : '',
                                             'Pushout' : '',
                                             'Limit, Fiber' : '',
                                             'Suspension, Loop' : '',
                                             'Smash, Wedge, Join' : '',
                                             'H-(co)spaces' : '',
                                             'Eilenberg-MacLane Spaces' : '',
                                             'Cell Complexes' : '',
                                             '∞-Groupoids' : '',
                                             '(Co)Homotopy' : '',
                                             'Hopf Invariant' : '' },

                    '(Co)Homology Theory': { 'Chain Complex' : '',
                                             '(Co)Homology' : '',
                                             'Stinrod Axioms' : '',
                                             'Hom and Tensor' : '',
                                             'Resolutions' : '',
                                             'Derived Cat, Fun' : '',
                                             'Tor, Ext and Local Cohomology' : '',
                                             'Homological Algebra' : '',
                                             'Spectral Sequences' : '',
                                             'Cohomology Operations' : '' } };

            br
            br
            .type
                for v, k in algebra
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i
            br
            br
            .type
                for v, k in logic
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i
            br
            br
            .type
                for v, k in foundations
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i
            br
            br

        .exe
            section

            h1 LIBRARY
            p.
                Second, we formalize this theory in one of the mathematical languages best suited for that theory:

            h2 Foundations
            p.
                Foundations represent a basic language primitives of <b>Anders</b> and its base library.
            br
            br

        .types
            -

                   var foundations = {

                    'MLTT': {  'Pi': 'https://anders.groupoid.space/foundations/mltt/pi/',
                               'Sigma': 'https://anders.groupoid.space/foundations/mltt/sigma/',
                               'Id': 'https://anders.groupoid.space/foundations/mltt/id/',
                               '0, 1, 2, W': 'https://anders.groupoid.space/foundations/mltt/inductive/',
                               'Nat': 'https://anders.groupoid.space/foundations/mltt/nat/',
                               'List': 'https://anders.groupoid.space/foundations/mltt/list/',
                               'Fin': 'https://anders.groupoid.space/foundations/mltt/fin/',
                               'Vec': 'https://anders.groupoid.space/foundations/mltt/vec/'
                            },

               'Univalent': {  'Path': 'https://anders.groupoid.space/foundations/univalent/path/',
                               'Glue': 'https://anders.groupoid.space/foundations/univalent/glue/',
                               'Equiv': 'https://anders.groupoid.space/foundations/univalent/equiv/',
                               'Homotopy': 'https://anders.groupoid.space/foundations/univalent/funext/',
                               'Isomorphism': 'https://anders.groupoid.space/foundations/univalent/iso/'
                            },

               'Modal': {  'Process': 'https://anders.groupoid.space/foundations/modal/process/',
                           'Infinitesimal': 'https://anders.groupoid.space/foundations/modal/infinitesimal/',
                           'Modality': 'https://anders.groupoid.space/foundations/modal/modality/',
                           'Localization': 'https://anders.groupoid.space/foundations/modal/localization/'
                        }
                   };
            .type
                for v, k in foundations
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:16px;"): b()= i
                            else
                                li(style="font-size:16px;"): a(href= j)= i

        .exe
            section

            h2 Mathematics
            p.
                The second part is dedicated to mathematical models and theories internalized in this language.
            br
            br

        .types
            -

                   var classic = {

                    'Analysis': {  'Topology': 'https://anders.groupoid.space/mathematics/analysis/topology/',
                                   'Set': 'https://anders.groupoid.space/mathematics/analysis/set/',
                                   'ℚ': 'https://anders.groupoid.space/mathematics/analysis/rational/',
                                   'ℝ': 'https://anders.groupoid.space/mathematics/analysis/real/',
                                   'ℂ': 'https://anders.groupoid.space/mathematics/analysis/complex/',
                                   'ℍ': 'https://anders.groupoid.space/mathematics/analysis/quatro/',
                                   '𝕆': 'https://anders.groupoid.space/mathematics/analysis/octo/',
                                },

                     'Algebra': {  'Group': 'https://anders.groupoid.space/mathematics/algebra/group/',
                                   'Field': 'https://anders.groupoid.space/mathematics/algebra/field/',
                                   'Ring': 'https://anders.groupoid.space/mathematics/algebra/ring/',
                                   'Homology': 'https://anders.groupoid.space/mathematics/algebra/homology/'
                                },

                    'Geometry': {  'Bundle': 'https://anders.groupoid.space/mathematics/geometry/bundle/',
                                   'Etale': 'https://anders.groupoid.space/mathematics/geometry/etale/',
                                   'Manifold': 'https://anders.groupoid.space/mathematics/geometry/manifold/',
                                   'de Rham': 'https://anders.groupoid.space/mathematics/geometry/derham/'
                                }

                       };

                   var higher = {

                    'Homotopy': {  'Coeq': 'https://anders.groupoid.space/mathematics/homotopy/coequalizer/',
                                   'Pushout': 'https://anders.groupoid.space/mathematics/homotopy/pushout/',
                                   'Pullback': 'https://anders.groupoid.space/mathematics/homotopy/pullback/',
                                   'Hopf': 'https://anders.groupoid.space/mathematics/homotopy/hopf/',
                                   'CW': 'https://anders.groupoid.space/mathematics/homotopy/cw/'
                                },

                  'Categories': {  'Category': 'https://anders.groupoid.space/mathematics/categories/category/',
                                   'Functor': 'https://anders.groupoid.space/mathematics/categories/functor/',
                                   'Adjoint': 'https://anders.groupoid.space/mathematics/categories/adjoint/',
                                   'Groupoid': 'https://anders.groupoid.space/mathematics/categories/groupoid/',
                                   'Topos': 'https://anders.groupoid.space/mathematics/categories/topos/',
                                   'Presheaf': 'https://anders.groupoid.space/mathematics/categories/presheaf/',
                                   'Sheaf': 'https://anders.groupoid.space/mathematics/categories/sheaf/',
                                   'Stack': 'https://anders.groupoid.space/mathematics/categories/stack/'
                                 } };

            .type
                for v, k in classic
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:16px;"): b()= i
                            else
                                li(style="font-size:16px;"): a(href= j)= i
            br
            .type
                for v, k in higher
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:16px;"): b()= i
                            else
                                li(style="font-size:16px;"): a(href= j)= i
            br
            br

        .exe
            section

            p.
                 The base library for <b>cubicaltt</b> is given on separate page:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics: The Cubical Base Library</a>.
            br
            br

        .exe
            section


            h1 ARTICLES
            p.
                Third, we publish this as an article for peer review and include in
                series of articles on foundation, systems, languages and mathematics in
                Quantum Super Stable Simplicial Modal Local Homotopy Type Theory with General Higher Induction:
            br
            br
        .types
            -
                   var logic = {

                    'Foundations': {  'Type Theory': 'books/vol1/mltt.pdf',
                                      'Inductive Types': 'books/vol1/cic.pdf',
                                      'Homotopy Type Theory': 'books/vol1/hott.pdf',
                                      'Higher Inductive Types':'books/vol1/hit.pdf',
                                      'Modalities':'books/vol1/modalities.pdf',
                                   },

                      'Languages': { 'Alonso Church' : 'books/vol2/alonso.pdf',
                                     'Felix Bloch' : 'books/vol2/felix.pdf',
                                     'Joe Armstrong' : 'books/vol2/joe.pdf',
                                     'Robin Milner' : 'books/vol2/robin.pdf',
                                     'Yves Lafont' : 'books/vol2/yves.pdf',
                                     'Henk Barendregt': 'books/vol3/henk.pdf',
                                     'Frank Pfenning': 'books/vol3/frank.pdf',
                                     'Anders Mörtberg': 'books/vol3/anders.pdf',
                                     'Laurent Schwartz' : 'books/vol3/laurent.pdf',
                                     'Urs Schreiber': 'books/vol3/urs.pdf',
                                   },

                    'Mathematics': { 'Algebra vs Geometry': 'books/vol4/spt.pdf',
                                     'Category Theory': 'books/vol4/cat.pdf',
                                     'Topos Theory': 'books/vol4/topos.pdf',
                                     'Categories with Families': 'books/vol4/cwf.pdf',
                                     'Categories with Reprepresentable Maps': 'books/vol4/cwr.pdf',
                                     'Abelian Groups': 'books/vol4/abelian.pdf',
                                     'Comprehension Categories': 'books/vol4/comprehension.pdf',
                                     'Cosmic Cube': 'books/vol4/cube.pdf',
                                     'Fibered Categories': 'books/vol4/fibered.pdf',
                                     'Chevalley Descent': 'books/vol4/jean.pdf',
                                     'Local Cartesian Closed Categories': 'books/vol4/lccc.pdf',
                                     'Symmetric Monoidal Categories': 'books/vol4/smc.pdf',
                                     'Cohesive Topoi': 'books/vol4/modal.pdf',
                                     'Quillen Model Structure': 'books/vol4/quillen.pdf',
                                     'Grothendieck Schemes': 'books/vol4/scheme.pdf',
                                     'Simplicial Homotopy Theory': 'books/vol4/simplicial.pdf',
                                     'Cohomology and Spectra': 'books/vol4/stable.pdf',
                                     'Grothendieck Yoga': 'books/vol4/yoga.pdf',
                                    }
                                 };


            .type
                for v, k in logic
                    ol.type__col
                        h3= k
                        for j, i in v
                            if j === ""
                                li(style="font-size:14px;"): b()= i
                            else
                                li(style="font-size:14px;"): a(href= j)= i
            br
            br

        .exe
            section

                h1 BOOKS
                +tex.
                    Fourth, as a result, a drop is made to books of $\mathbf{Groupoid\ Infinity}$:
                p.
                    The Volume I establishes common preliminary foundations:
                    1) Martin-Löf Type Theory (for set valued mathematics) and
                    2) Homotopy Type Theory (for higher groupoid valued mathematics).
                br
                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="books/vol1/vol1.pdf") &nbsp; Volume I: Foundations
                br
                p.
                    The Volume II coutains articles dedicated to operating
                    systems and runtimes where languages are running as applications.
                    Two basic models of computations are considered: internal languages
                    of cartesian closed categories and symmetric monoidal categories.
                br
                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="books/vol2/vol2.pdf") &nbsp; Volume II: Systems
                br
                p.
                    Systems Volume III coutains articles dedicated to synthetical mathematical
                    languages designed to be optimal at proving theorems from specific mathematics.
                    Formalization of languages, their syntax and semantics are given
                    along with their base libraries (foundations folders).
                br
                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="books/vol3/vol3.pdf") &nbsp; Volume III: Languages
                br
                p.
                    Volume IV provides final formalizations of
                    mathematical theories packaged in most abstract categorical form.
                br
                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="books/vol4/vol4.pdf") &nbsp; Volume IV: Mathematics
                br
            center.
            br
            +tex(true).
                $$
                    \int
                $$
            br
            br

hr
include footer
